<%= form_tag({:controller => "mystem", :action => "index"}, :method => "post", :class => 'well') do %>
    <%= label_tag(:code, "HTML-code:") %>
    <%= text_area_tag(:code, @code) %>
    <%= submit_tag("Анализировать", :class=>"btn btn-success") %>
<% end %>

<script>
    $(document).ready(function() {
        $('span[title]').qtip(
        {
            content: {
                text: false
            },
            style: {
                border: {
                    width: 5,
                    radius: 10
                },
                padding: 10,
                textAlign: 'center',
                tip: true,
            }
        });
    });
</script>
</script>
<% if @result.present? %>

    <% @result.words.each do |words| %>
        <% word = words[1] %>
        <span title="
        <b><%= word %></b><p/>
        Оценка: <%= number_to_percentage(word.mark) %><br/>
        Вес: <%= number_to_percentage(word.weight) %><p/>
        Вхождения:<br/>
        <% word.words.each do |entry_word| %>
            <b><%= entry_word[1] %></b> : <%= entry_word[0] %><br/>
        <% end %>
        " style="font-size: <%= wordmark_fontsize(word) %>px;"><%= word %></span>
    <% end %>
<% end %>