<h1>SEO-анализатор HTML-кода</h1>
<%= form_tag({:controller => "mystem", :action => "index"}, :method => "post") do %>
    <%= label_tag(:code, "HTML-code:") %><br/>
    <%= text_area_tag(:code, @code, :size => "100x20") %>
    <p/>
    <%= submit_tag("Анализировать") %>
<% end %>

<% if @result.present? %>
    <h2>Результат</h2>
    <table>
      <thead>
      <tr>
        <th>Слово</th>
        <th>Средняя позиция</th>
        <th>Вхождения</th>
      </tr>
      </thead>
      <tbody>
      <% @result.words.each do |words| %>
          <% word = words[1] %>
          <tr>
            <td>
              <%= word %>
            </td>
            <td>
              <%= word.avg_pos %>
            </td>
            <td>
              <% word.words.each do |entry_word| %>
                  <%= entry_word[1] %>:<%= entry_word[0] %><br/>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>